$font-primary: 'Economica', sans-serif;
$font-secondary: 'Sora', sans-serif;

.container {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .wrapper {
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 50%;
    justify-content: center;
    align-items: center;
    background-color: #118ab2;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.13) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 3px;

    .section {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 10vh;

      h2, h3 {
        font-family: $font-secondary;
        color: #edf2f4;
        letter-spacing: 2px;
        margin: 0;
      }

      h2 {
        font-size: 2rem;
      }

      h3 {
        font-size: 1rem;
      }

      p {
        font-family: $font-primary;
        font-size: 1.2rem;
        color: #b4d3dd;
        letter-spacing: 2px;
        text-align: center;
        margin: 0;
        padding: 0;
      }
    }
  }
}

@media (max-width: 1152px) {
  .container .wrapper {
    width: 90%;
    height: 80vh;
  }
}

@media (max-width: 612px) {
  .container .wrapper {
    width: 90%;
    .header h1 {
      font-size: 1.8rem;
    }
    .header h3 {
      text-align: center;
    }
    .section {
      padding-bottom: 10px;
      h3 {
        font-size: 1.5rem;
        text-align: center;
      }
    }
  }
}
