$font-primary: 'Economica', sans-serif;
$font-secondary: 'Raleway', sans-serif;

.container {
  padding: 0;
  width: 100%;
  min-height: fit-content;
}

.wrapper {
  color: #3c767a;
  min-width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  animation: fadeInAnimation ease 0.8s;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.formHeader {
  width: 50%;
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageForm {
  width: 70%;
}

.imageForm img {
  width: 100%;
}

.formDiv {
  width: 40%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.text h2 {
  font-size: 1.8rem;
  font-family: $font-secondary;
}

.form {
  width: 100%;
}

.input input {
  border: 0;
  font-size: 1.5rem;
  width: 100%;
  font-weight: 500;
  padding: 10px;
  letter-spacing: 2px;
  border-radius: 7px;
  background-color: #78bfdb;
  color: #feffff;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.input input:hover {
  background: #CDE8E6;
  border: solid 1px #5B96A9;
  border-radius: 6px;
  color: #5B96A9;
}

.input input::placeholder {
  color: #feffff;
}

.btn-div button {
  border: 0;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 10px;
  width: 100%;
  letter-spacing: 2px;
  border-radius: 7px;
  background-color: #61aac3;
  color: #CDE8E6;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.btn-div button:hover {
  background: #CDE8E6;
  border: solid 1px #61aac3;
  border-radius: 6px;
  color: #5B96A9;
}

@media (max-width: 952px), (max-width: 512px) {
  .container .wrapper {
    flex-direction: column;
  }

  .formHeader {
    width: 100%;
  }

  .formDiv {
    width: 100%;
  }

  .text h2 {
    text-align: center;
    font-size: 1.2rem;
  }

  .input input {
    font-size: 1.2rem;
  }

  .btn-div {
    width: 20%;
  }

  .btn-div button {
    font-size: 1rem;
    font-weight: 200;
  }
}
